@model VipCars.Application.Order.Dto.ShowOrderDto

<!-- Display Order Details -->
<h1>Order Details</h1>
<p>Order ID: @Model.Id</p>
<p>Car ID: @Model.CarId</p>
<p>Customer ID: @Model.CustomerId</p>
<p>Rental Start Date: @Model.RentalStartDate</p>
<p>Rental End Date: @Model.RentalEndDate</p>
<p>Total Price: @Model.TotalPrice</p>